{% extends "shop/base.html" %}
{% load static %}
{% block title %}
{% if category %}{{ category.title }}{% else %}Products{% endif %}
{% endblock %}
{% block content %}
<div class="container my-3">
    <div class="row justify-content-center">
        <div class="col-12  col-lg-5">
            <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" class="card-img-top">
        </div>
        <div class="col-12  col-lg-7 mt-3 mt-lg-0">
            <h1>{{ product.name }}</h1>
            <p><a href="{{ product.category.get_absolute_url }}" class="card-link text-decoration-none">{{ product.category }}</a></p>
            <p class="card-text fw-bolder">${{ product.price }}</p>
            <p class="price">${{ product.price }}</p>
            <form action="{% url 'cart:cart_add' product.id %}" method="post">
                {% csrf_token %}
                <div class="mb-3 row">
                    <label for="id_quantity" class="col-sm-2 col-form-label">Quantity</label>
                    <div class="col-sm-10">
                        <select name="quantity" id="id_quantity" class="form-control">
                            <option value="1">1</option>
                        
                            <option value="2">2</option>
                        
                            <option value="3">3</option>
                        
                            <option value="4">4</option>
                        
                            <option value="5">5</option>
                        
                            <option value="6">6</option>
                        
                            <option value="7">7</option>
                        
                            <option value="8">8</option>
                        
                            <option value="9">9</option>
                        
                            <option value="10">10</option>
                        
                            <option value="11">11</option>
                        
                            <option value="12">12</option>
                        
                            <option value="13">13</option>
                        
                            <option value="14">14</option>
                        
                            <option value="15">15</option>
                        
                            <option value="16">16</option>
                        
                            <option value="17">17</option>
                        
                            <option value="18">18</option>
                        
                            <option value="19">19</option>
                        
                            <option value="20">20</option>
                        
                        </select>    
                    </div>
                </div>
                
                <input type="hidden" name="update" value="False" id="id_update">
                <div class="mb-3">
                    <input type="submit" value="Add to cart" class="btn btn-success text-uppercase rounded-0 w-100">
                </div>
            </form>
            <p class="card-text">{{ product.description|linebreaks }}</p>
        </div>
    </div>
</div>
{% endblock %}